.view-animate-container {
  position:relative;
  overflow:hidden;
}
.view-animate {
  padding:10px;
}

.view-animate.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity:1;
}
