<div class="row">
    <div class="view-animate-container">
        <div class="col-md-12">
            <h2>MySky, hyperlocal weather in places that I care about</h2>
            <p>
                Don't bother looking around, nothing is hooked up, but please check back later!
            </p>
            <h4>V0.01</h4>
            <ul>
                <li>Changes:
                    <ul>
                        <li>Removed template references</li>
                        <li>Started putting things where they need to go</li>
                        <li>Fixed nav and added correct names</li>
                        <li>Removed uneeded css components</li>
                        <li>Added framework for AMP page</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
